@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor



@{
	ViewData["Title"] = "Home Page";
}

@{
	var clickedContactInSession = HttpContextAccessor.HttpContext.Session.GetString("clickedContact");
	ContactDetails clickedContact = null;
	if (clickedContactInSession != null)
	{
		clickedContact = JsonConvert.DeserializeObject<ContactDetails>(clickedContactInSession);

	}
}





	@if ((bool)ViewData["isClicked"] == true)
	{
		<div id="contact-info">
			<div class="contact-container">
				<div class="display-contact">
					<h1 id="display-name"> @clickedContact.Name</h1>
					<p id="display-email">Email: @clickedContact.Email</p> <br />
					<div>
						<p id="display-phone">Mobile: @clickedContact.Mobile</p>
						<p id="display-landline">Landline: @clickedContact.Landline</p>
					</div>
					<br />
					<p id="display-website">Website: @clickedContact.Website</p>
					<br />
					<p id="display-address">Address: @clickedContact.Address</p>
				</div>
				<div class="icons">
					<div id="edit">
						<img id="image-1" alt="edit" src="~/images/Edit-icon.png"><a href="@Url.Action("Edit", "Home", new { ID = clickedContact.ID})">EDIT</a>
					</div>
					<div id="delete">
						<img id="image-2" src="~/images/delete1.png" alt="delete"><a href="@Url.Action("Delete", "Home", new { ID = clickedContact.ID})">DELETE</a>
					</div>
				</div>
			</div>
		</div>
	}



